<h1>pending_payment_notification of user <b><%= @user_name %></b></h1>

<p>
  <%= @greeting %> Admin, Milkman Id <b><%= @milkman_id %></b> whose Dairy Name <b><%= @dairy_name %></b> and user name <b><%= @user_name%></b> their subscription is going to be expire on  <b><%= @plan_end_date.strftime("%d/%m/%Y")%></b> having remaining amount of <b><%= @remaining_amount%></b> Rs.
</p>
